<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">             
          <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
            <hr>
            <form (ngSubmit)="onSubmit(checkoutForm.value)" #checkoutForm="ngForm">
            <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input   [ngClass]="[usernameClass]"  [(ngModel)]="username" name="Username" id="Username" placeholder="Username" (change)="usernameChanged()">
            
            </div> <!-- input-group.// -->
            <div *ngIf="usernameWarning" class="text-danger  d-flex justify-content-center">
              <small>Invalid UserName</small>
            </div>
            </div> <!-- form-group// -->
          
            <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input   [ngClass]="[passwordClass]"  [(ngModel)]="password" name="Password" id="Password" placeholder="**********" (change)="passwordChanged()">
            </div> <!-- input-group.// -->
            <div *ngIf="passwordWarning" class="text-danger  d-flex justify-content-center">
              <small>Password must contain at least 8 character</small>
            </div>
            <div *ngIf="passwordWarning" class="text-danger  d-flex justify-content-center">
              <small>1 upper case and 1 number</small>
            </div>
            </div> <!-- form-group// -->
            <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" > Login  </button>
            <div *ngIf="IncorrectData" class="text-danger">
              <small>Authentication has failed! Username or password was incorrect!</small>
            </div>
          
            </div> <!-- form-group// -->
            <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
            </form>
          </article>
        </div> <!-- card.// -->
      </div>
    </div>
  </div>
</div>