<div class="container">
  <div class="py-5 text-center">

    <h2>Checkout form</h2>
    <p class="lead">Please fill out the fields</p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{productsInCart.length}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed"
          *ngFor="let productInCart of productsInCart;let i = index;">
          <div>
            <h6 class="my-0">{{productInCart.product.productName}}</h6>
            <small class="text-muted">{{productInCart.product.description}}</small>
          </div>
          <span class="text-muted">{{ getRoundedPrice(productInCart.product) }} $</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>{{getTotalPrice()}} $</strong>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3" *ngIf=ShowPersonalData>Personal Data</h4>
        <form class="needs-validation" (ngSubmit)="onSubmit(checkoutForm.value)" #checkoutForm="ngForm" novalidate>
          <div  *ngIf=ShowPersonalData class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input type="text" [ngClass]="[firstNameClass]" id="firstName" [(ngModel)]="firstName" name="firstName"
                placeholder="" value="" (change)="firstNameChanged()" required>
              <div *ngIf="firstNameWarning" class="text-danger">
                <small>Valid username is required</small>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" [ngClass]="[lastNameClass]" [(ngModel)]="lastName" name="lastName" id="lastName"
                placeholder="" value="" (change)="lastNameChanged()" required>
              <div *ngIf="lastNameWarning" class="text-danger">
                <small> Valid last name is required.</small>
              </div>
            </div>
          </div>
          <div  *ngIf=ShowPersonalData class="mb-3">
            <label for="email">Email <span class="text-muted"></span></label>
            <input type="email" [ngClass]="[emailClass]" [(ngModel)]="email" name="email" id="email"
              placeholder="you@example.com" (change)="emailChanged()">
            <div *ngIf="emailWarning" class="text-danger">
              <small> Valid last name is required.</small>
            </div>
          </div>

          <div  *ngIf=ShowPersonalData class="row">
            <div class="col-md-6 mb-3">
              <label for="zip">Username</label>
              <input type="text" [ngClass]="[usernameClass]" [(ngModel)]="username" (change)="usernameChanged()"
                name="user" id="user" placeholder="" required>
              <div *ngIf="usernameWarning" class="text-danger">
                <small>Invalid UserName</small>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="password">Password</label>
              <input class="form-control" [ngClass]="[passwordClass]" [(ngModel)]="password"
                (change)="passwordChanged()" placeholder="**********" type="password" name="password" id="password">
              <div *ngIf="passwordWarning" class="text-danger">
                <small>Invalid Password</small>
              </div>
            </div>
          </div>


      <h4 class="mb-3">Billing adress</h4>
      <div class="mb-3">
        <label for="address">Address</label>
        <input type="text" [ngClass]="[addressClass]" [(ngModel)]="address" name="address" id="address"
          placeholder="1234 Main St" (change)="adressChanged()" required>
        <div *ngIf="addresseWarning" class="text-danger">
          <small> please enter your shipping adress</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="address2">City <span class="text-muted"></span></label>
        <input type="text" [ngClass]="[cityClass]" [(ngModel)]="city" name="city" id="city"
          placeholder="Apartment or suite" (change)="cityChanged()">
        <div *ngIf="cityWarning" class="text-danger">
          <small> Please enter your city name</small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="zip">Zip</label>
          <input type="text" [ngClass]="[zipClass]" [(ngModel)]="zip" name="zip" id="zip" placeholder=""
            (change)="zipChanged()" required>
          <div *ngIf="zipWarning" class="text-danger">
            <small>invalid Zip!</small>
          </div>
        </div>

        <div class="col-md-5 mb-3">
          <label for="country">Country</label>
          <select class="custom-select d-block w-100" [(ngModel)]="country" name="country" id="country"
            (change)="countryChanged()" required>
            <option value="">Choose...</option>
            <option value="United States">United States </option>
          </select>
          <div *ngIf="countryWarning" class="text-danger">
            <small>Please select a country!</small>
          </div>
        </div>

      </div>

      <hr class="mb-4">
      <h4 class="mb-3">Payment</h4>
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input id="credit" name="paymentMethod" [(ngModel)]="paymentMethod" value="cash" type="radio"
            class="custom-control-input" checked required>
          <label class="custom-control-label" for="credit">cash on delivery</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="paypal" name="paymentMethod" [(ngModel)]="paymentMethod" value="PayPal" type="radio"
            class="custom-control-input" required>
          <label class="custom-control-label" for="paypal">PayPal</label>
        </div>
      </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
      <div *ngIf="submitWarning" class="text-danger">
        <small>Please fill out the checkoutForm Correctly</small>
      </div>
      <div *ngIf="UsernameTakenWarning" class="text-danger">
        <small>   Username is already taken </small>
      </div>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 WebshopDelivery Copmany</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>